body {
    padding: 0;
    margin: 0;
}

/* navigation menu*/
.nav-color {
    background: linear-gradient(to right, #fa85bd, #fdd57f);
}

/* navbar toggler for mobile device*/
.navbar-toggleicon {
    display: inline-block;
    cursor: pointer;
}

.navbar-toggleicon span {
    position: relative;
    background-color: #fff;
    border-radius: 3;
    display: block;
    height: 3px;
    margin-top: 5px;
    padding: 0;
    transition-duration: .3s;
    width: 30px;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid #fff;
}

.menu-text {
    color: #fff;
}

.menu-text:hover {
    color: #fff;
}

.menu-child {
    color: #fa85bd;
}

.menu-child:hover {
    color: #fa85bd;
}

.menu-child:active {
    background-color: #fa85bd;
    color: #fff;
}

/* breadcrumb */
.breadcrumb {
    background-color: #ffb3ff;
}

.breadcrumb-item {
    padding: 3px;
}

.breadcrumb-text {
    color: black;
}

.breadcrumb-text:active {
    color: black;
    text-decoration: none;
}

span a {
    color: black;
}

span a:hover {
    text-decoration: none;
    color: black;
}

/*form*/
h3 {
    color: #fa85bd;
}

.cover-box {
    border: 1px solid #fa85bd;
}

/* tags*/
.btn-color {
    background: linear-gradient(to right, #fa85bd, #fdd57f);
    color: #fff;
}

.btn-color:hover {
    background: linear-gradient(to right, #fdd57f, #fa85bd);
    color: #fff;
}

/* footer */

.footer-pane {
    background-color: #f3f5f8;
    border-top: 2px solid #fa85bd;
}

.nav-footer {
    color: #fa85bd;
}

.nav-footer:hover {
    color: #fa85bd;
}